/* Desktop responsivity */
@media (min-width: 601px) {
    .calculator {
        max-width: 35vw;
    }
}

/* Mobile responsivity */
@media (max-width: 600px) {
    .calculator {
        max-width: 70vw;
    }
}

/* General settings */
.calculator {
    margin: 10vh auto;
    padding: 15px;
    border-radius: 15px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.display {
    font-size: 2rem;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: gray;
    overflow: hidden;
}

.button-set {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 7.5vh);
    gap: 10px 5px;
}

.button-set > .numeral, .misc, .operator {
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.numeral {
    background-color: #3b3b3b;
    box-shadow: 0 5px #1f1f1f;
}

.misc {
    background-color: rgb(128, 128, 128);
    box-shadow: 0 5px rgb(48, 48, 48);
}

.operator {
    background-color: orange;
    box-shadow: 0 5px rgb(201, 131, 0);
}

#btnZero {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* ANIMATIONS */
.numeral:active, .misc:active, .operator:active {
    font-size: .9rem;
}

/* Hover */
.numeral:hover {
    background-color: #2a2a2a;
}

.misc:hover {
    background-color: rgb(92, 92, 92);
}

.operator:hover {
    background-color: rgb(215, 140, 0);
}

/* Active */
.numeral:active {
    background-color: #252525;
    box-shadow: 0 3px #252525;
}

.misc:active {
    background-color: rgb(60, 60, 60);
    box-shadow: 0 3px rgb(60, 60, 60);
}

.operator:active {
    background-color: rgb(93, 60, 0);
    box-shadow: 0 3px rgb(93, 60, 0);
}