.calculator {
    margin: 10vh auto;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 60vw;
    background-color: brown;
    display: flex;
    flex-direction: column;
}

.display {
    font-size: 2rem;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
}