@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*  {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 16px;
}

body {
    background-color: #ccc;
}