@font-face {
    font-family: 'Orbitron';
    src: url('../public/fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*  {
    margin: 0;
    padding: 0;
    color: snow;
    font-family: 'Orbitron';
    font-size: 16px;
    font-weight: bold;
}

body {
    background-color: #ccc;
}